<!DOCTYPE html>
<html class="ui-page-login" lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link th:href="@{/phone/css/mui.min.css}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" th:href="@{/phone/css/login.css}" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">登录</h1>
		</header>
		<div class="mui-content">
			<div class="logo">
				<img th:src="@{/phone/img/yf_logo.jpg}"  alt="" />
			</div>
			<form id='login-form' class="mui-input-group">
				<div class="mui-row">
					<div class="mui-input-row">
						<label>账号</label>
						<input id='account' required="" type="text" class="mui-input-clear mui-input" placeholder="请输入账号">
					</div>
				</div>
				<div class="mui-row">
					<div class="mui-input-row">
						<label>密码</label>
						<input id='password' required="" type="password" class="mui-input-clear mui-input" placeholder="请输入密码">
					</div>
				</div>
			</form>

			<div class="mui-content-padded">
				<button id='login' class="mui-btn mui-btn-block mui-btn-primary">登录</button>
				<!--<div class="link-area"><a id='reg'>注册账号</a> <span class="spliter">|</span> <a id='forgetPassword'>忘记密码</a>
				</div>-->
			</div>
			<div class="mui-content-padded oauth-area" style="font-size: 12px;">
				<p>版权所有 &copy; 2019 All Copy Right 上海纺织 侵权必究 天启团队提供技术服务</p>
			</div>
		</div>
		<script th:src="@{/phone/js/mui.min.js}" ></script>
		<script th:src="@{/phone/js/mui.enterfocus.js}" ></script>
		<script th:src="@{/phone/js/app.js}" ></script>
		<script th:src="@{/phone/js/jquery-1.8.3.min.js}"></script>
		<script th:src="@{/phone/js/jquery.serializeJson.js}" ></script>
		<script>
			// 设置系统状态栏 
			function plusReady() {
				// 设置系统状态栏背景为青色
				plus.navigator.setStatusBarBackground("#02bda8");
				// 设置系统状态栏样式为浅色文字
				plus.navigator.setStatusBarStyle("UIStatusBarStyleBlackOpaque");
			}
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener("plusready", plusReady, false);
			};
			// 设置系统状态栏 end

			//			验证登录
			document.getElementById('login').addEventListener('tap', function() {
				var name = $("#account");
				var mima = $("#password");
				if(name.val() == "" || mima.val() == "") {
					mui.toast('账户或密码不能为空，请重新输入！');
				}

				var loginForm = $('#login-form');
				$.ajax({
					url: "/permission/pc/login",
					type: 'POST',
					dataType: "JSON",
					data: loginForm.serializeJson(),
					success: function(data) {
						layer.close(loading);
						if(data.success) {
							location.href = 'index.html';
							//						location.href = base;
						} else {
							mui.toast('账户或密码不正确，请重新输入！');
						}
					},
					error: function() {
						mui.toast('异常, 请刷新后重试！');

					}
				});
			})
		</script>
	</body>

</html>