<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script th:src="@{/phone/js/mui.js}" ></script>
		<link th:href="@{/phone/css/mui.min.css}"  rel="stylesheet" />
		<link rel="stylesheet" type="text/css" th:href="@{/phone/css/style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/phone/js/jRange/jquery.range.css}" />
		<style type="text/css">
			.mui-input-range .mui-tooltip {
				top: 0px;
			}
		</style>
</head>

	<body>
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable mui-scalable">
			<!-- 菜单容器 -->
			<aside class="mui-off-canvas-right mui-transitioning" id="offCanvasSide">
				<div class="mui-scroll-wrapper r_nav">
					<div class="mui-scroll">
						<!-- 菜单具体展示内容 -->
						<h1 class="n_title">TIS</h1>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<a th:href="@{/phone/zhiliang/zhi_liang}" class="mui-navigate-right"> 质量</a>
							</li>
							<li class="mui-table-view-cell">
								<a th:href="@{/phone/dingdan/ding_dan}" class="mui-navigate-right"> 订单</a>
							</li>
							<li class="mui-table-view-cell">
								<a th:href="@{/phone/chanliang/chan_liang}" class="mui-navigate-right"> 产量</a>
							</li>
							<li class="mui-table-view-cell">
								<a th:href="@{/phone/shebei/she_bei}" class="mui-navigate-right"> 设备</a>
							</li>
							<li class="mui-table-view-cell">
								<a th:href="@{/phone/nenghao/neng_hao}" class="mui-navigate-right"> 能源</a>
							</li>
							<li class="mui-table-view-cell">
								<a th:href="@{/phone/baojing/bao_jing}" class="mui-navigate-right"> 警告</a>
							</li>
							 <li class="mui-table-view-cell"><a th:href="@{/phone/zhizhou/zhi_zhou}" class="mui-navigate-right"> 织轴状态</a></li>
	                  <li class="mui-table-view-cell"><a th:href="@{/phone/liaoji/liaoji}" class="mui-navigate-right"> 了机预测</a></li>
	                  <li class="mui-table-view-cell"><a th:href="@{/phone/luobu/luobu}" class="mui-navigate-right"> 落布预测</a></li>
						</ul>
					</div>
				</div>
			</aside>
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap mui-transitioning">
				<!-- 主页面标题 -->
				<header class="mui-bar mui-bar-nav">
					<h1 class="mui-title">设备</h1>
				</header>
				<nav class="mui-bar mui-bar-tab foot">
					<a class="mui-tab-item  mui-action-back" th:href="@{javascript:history.back(-1)}">
						<span class="mui-icon"><img th:src="@{/phone/img/back.png}" /></span>
					</a>

					<a class="mui-tab-item" th:href="@{/phone/index}">
						<span class="mui-icon mui-active home"><img th:src="@{/phone/img/home.png}" /></span>
					</a>
					<a class="mui-tab-item" href="#offCanvasSide">
						<span class="mui-icon"><img th:src="@{/phone/img/menu.png}" /></span>
					</a>
				</nav>
				<div class="mui-content warp">
					<!-- 主界面具体展示内容 -->
					<div class="mui-slider">
						<!--sub nav-->
						<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted sb">
							<a dataMk="tab" class="mui-control-item mui-active" href="#item1">低效机台</a>
							<a dataMk="tab" class="mui-control-item" href="#item2">开台统计</a>
							<a dataMk="tab" class="mui-control-item" href="#item3">实时数据</a>
						</div>
						<!--item content-->
						<div class="mui-slider-group">
							<!--低效机台-->
							<div id="item1" class="mui-slider-item mui-control-content mui-active">
								<div class="mui-row">
									<input type="hidden" id="wms" class="range-slider" value="0,40" />
								</div>
									<div class="mui-scroll-wrapper" style="top:62px;">
										<div class="mui-scroll">
											<div class="content">
											<ul class="nenghao wenshidu dixiao" id="xl">
												<!--<li>
													<div class="chanliang">
														<div>
															<p>C40</p>
															<p>03-18-82</p>
														</div>
														<div>
															<h5>机台号</h5>
															<p>织机001</p>
														</div>
														<div class="wd">
															<h5>运行状态</h5>
															<p>运行</p>
														</div>
														<div class="xl">
															<h5>生产效率</h5>
															<p>23.9 %</p>
														</div>
													</div>
												</li>-->
											</ul>
											</div>
										</div>
									</div>

							</div>
							<!--开台统计-->
							<div id="item2" class="mui-slider-item mui-control-content">


									<div class="mui-scroll">
										<div class="content">
											<!--整经  类名yc是隐藏   xs是显示-->
											<!--织布-->
											<ul class="cl_lists jindu xs" id="zb_kttj_box">
												<li>
													<div class="mui-row">
														<div class="mui-col-xs-12 mui-text-center cl_bc cs_dxj">C40/03-18-82<span style="margin-left: 10px;">开台数：100</span></div>
														<div class="mui-col-xs-12 graph" style="margin-bottom: 5px;"><strong class="bar" id="bar" style="width:1%;"></strong> </div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">当班总产量<span>89273</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">累计总产量<span>89273</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">计划总产量<span>89273</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl">平均效率<span>80%</span></div>
													</div>

												</li>


											</ul>
										</div>
									</div>

							</div>
							<!--实时数据-->
							<div id="item3" class="mui-slider-item mui-control-content">
								<div id="item4" class="mui-slider-item mui-control-content">
									<div class="mui-scroll-wrapper">
										<div class="content">
											<ul class="cl_lists jindu xs" id="cp_zl">
												<!--<li>
													<div class="mui-row">
														<div class="mui-col-xs-12 mui-text-center cl_bc">织布001/张三365211</div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">品种<span>C40</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">合约号<span>03-18-82</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">车速<span>89273</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl">效率<span>80%</span></div>
													</div>
													<div class="mui-row">
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">总经停次数<span>100</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">经停次数<span>50</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">纬停次数<span>50</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl">十万纬停次数<span>50</span></div>
													</div>

												</li>
												<li>
													<div class="mui-row">
														<div class="mui-col-xs-12 mui-text-center cl_bc">织布002/张三365211</div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">品种<span>C40</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">合约号<span>03-18-82</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">车速<span>89273</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl">效率<span>80%</span></div>
													</div>
													<div class="mui-row">
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">总经停次数<span>100</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">经停次数<span>50</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl fgx">纬停次数<span>50</span></div>
														<div class="mui-col-xs-3 mui-text-center hzcl">十万纬停次数<span>50</span></div>
													</div>
												</li>-->
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--mui-slider-group-->
					</div>
					<!--主体内容部分 end-->

				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script  th:src="@{/phone/js/jquery-1.8.3.min.js}" ></script>
		<script th:src="@{/phone/js/jRange/jquery.range.js}" ></script>
		<script type="text/javascript" charset="utf-8" th:src="@{/phone/js/she_bei/she_bei.js}"></script>

	</body>

</html>