<!DOCTYPE html>
<html id="html" lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>产量月报</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" /><link th:href="@{/tv/css/mui.min.css}" rel="stylesheet"/>
		<link rel="stylesheet" th:href="@{/tv/css/main.css}" />
	</head>

	<body>
	<div class="big-ping">
		<div class="gfxx">
			<div class="big-ping-header">
					<span class="header-qfzl">
				产量月报
			</span>
				<div class="header-r">
					<span class="header-tim" id="Date"></span>
				</div>
			</div>
		</div>
		<table class="layui-table center-table" lay-even="" lay-skin="row">
			<thead>
			<tr>
				<th>当月产量汇总</th>
				<th>当月平均效率</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td id="cl"></td>
				<td id="xl"></td>
			</tr>
			</tbody>
		</table>




	</div>
	<div id="grsj_cl" style="width: 100%;height: 40rem;margin: 0.5rem auto;"></div>


</body>
<script th:src="@{/tv/js/jquery-3.2.1.min.js}" ></script>
<script th:src="@{/tv/js/echarts.min.js}"></script>
<script th:src="@{/tv/js/tv/clyb_js.js}"></script>
<script th:src="@{/tv/js/date.js}" type="text/javascript" charset="utf-8"></script>


</html>