<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title>上海纺织</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" /><link href="../../static/tv/css/mui.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../../static/tv/css/main.css"/></head>

	<body>
		<div class="big-ping">
			<div class="big-ping-header">

				<div class="header-r">
					<span class="header-tim" id="Date"></span>
					<!--<span class="header-bcz">
					早班    
				</span>
					<span class="header-bcj">
					甲班    
				</span>-->
				</div>
			</div>
			<div class="content">
				<div class="cshdtx">
					<div class="left-box-title">
						<span class="title">
							换段提醒
						</span>

					</div>

					<table class="layui-table center-table" lay-even="" lay-skin="row">

						<thead>
							<tr>
								<th>机台号</th>
								<th>品种</th>
								<th>倒计时<br/>（分钟）</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>GJCF8.4D(80%长绒棉）</td>
								<td>5</td>
							</tr>
							<tr>
								<td>2</td>
								<td>GJCF8.4D(80%长绒棉）</td>
								<td>10</td>
							</tr>
							<tr>
								<td>3</td>
								<td>GJCF8.4D(80%长绒棉）</td>
								<td>15</td>
							</tr>
							<tr>
								<td colspan="4">
									下轮班总换段数：<span style="font-weight: bold; color: #ff5722; margin-left: 1rem;">3</span>
								</td>

							</tr>
						</tbody>
					</table>
				</div>

				<div class="lstx">
					<div class="right-box-title">
						<span class="title">
						落纱提醒
					</span>
					</div>

					<table class="layui-table center-table" lay-even="" lay-skin="row">

						<thead>
							<tr>
								<th>机台号</th>
								<th>品种</th>
								<th>倒计时<br/>（分钟）</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>GJCF8.4D(80%长绒棉）</td>
								<td>5</td>
							</tr>
							<tr>
								<td>2</td>
								<td>GJCF8.4D(80%长绒棉）</td>
								<td>10</td>
							</tr>
							<tr>
								<td>3</td>
								<td>GJCF8.4D(80%长绒棉）</td>
								<td>15</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


	<script src="../../static/tv/js/jquery-3.2.1.min.js"></script>
<script src="../../static/tv/js/mui.min.js"></script>
<script src="../../static/tv/js/date.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  	mui.init();
</script>
</body>

</html>