<!DOCTYPE html>
<html id="html" lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>员工劳动竞赛</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" /><link th:href="@{/tv/css/mui.min.css}" rel="stylesheet"/>
		<link rel="stylesheet" th:href="@{/tv/css/main.css}" />
	</head>

	<body>
		<div class="grjd_wrap">
			<p class="txt">个人劳动竞赛</p>
			<div class="grjs">
				<div class="left">
					<h4 class="pm_title">员工劳动竞赛排名</h4>
					<ul class="pl_lists" id="gr">
						<!--<li style="width: 100%;">1.王操斌</li>
						<li style="width: 96%;">2.刘旭</li>
						<li style="width: 92%;">3.李文</li>
						<li style="width: 88%;">4.张连香</li>
						<li style="width: 84%;">5.徐小龙</li>
						<li style="width: 80%;">6.丁金兰</li>
						<li style="width: 76%;">7.胡孝顺</li>
						<li style="width: 72%;">8.陈景</li>
						<li style="width: 68%;">9.汪瑞</li>
						<li style="width: 64%;">10.刘航成</li>
						<li style="width: 60%;">11.汪瑞</li>
						<li style="width: 58%;">12.刘航成</li>
						<li style="width: 54%;">13.汪瑞</li>
						<li style="width: 50%;">14.刘航成</li>-->
					</ul>
				</div>
				<div class="right">
					<div id="pjjt_sj" class="top" style="width;"></div>
					<div id="grsj_cl" class="bottom"></div>
				</div>
			</div>
		</div>
	</body>
	<script th:src="@{/tv/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/tv/js/echarts.min.js}" ></script>
	<script th:src="@{/tv/js/grld_js.js}" ></script>
	<script>
		var width = document.body.clientWidth || document.document.clientWidth;
		var html = document.getElementById("html");
		html.style.fontSize = width / 1920 * 100 + 'px';
		window.onload = window.onresize = function() {
			var html = document.getElementById('html')
			var width = document.body.clientWidth || document.document.clientWidth;
			html.style.fontSize = width / 1920 * 100 + 'px';
		}
	</script>

</html>